.castList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
  }

.castItem {
    height: 100%;
    overflow: hidden;
    font-size: 10px;
    font-weight: 400;
}

.castWrapImg {
    height: 155px;
    display: flex;
    align-items: center;
}

.castImg {
    border-radius: 10px;

}

.castConteinerText {
    text-align: center;
}