.detailsWrapper {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.detailsInnerWrapper {
    display: flex;

}

.detailsWrapperImg {
    margin-right: 30px;
    
}

.detailsImg{
border-radius: 10px;
}

.detailsWrapperInfo {
    display: block;
    border-radius: 10px;
    background-color: cadetblue;
    padding: 25px;
}

.detailsTitle {
    text-transform: uppercase;
}

.detailsSpan{
    text-transform: none;
    font-weight: 600;
}

.detailsText {
    font-weight: 400;
}